.Feedback1{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #000000; 
    background-image: url(Premium\ Photo\ _\ Technology\ Network\ Background_.jpeg);
    font-size: 20px;
    max-width: 1400px;
    margin-bottom: -1230px;
    margin-top: 5px;
    color:  #e6e6e6;

}
  
  nav.container {
    background: #5c5a5a;
    color: #020202; 
    padding: 10px 0;
    border-radius: 50px;
    margin-top: -110px;
    margin-left: 100px;
    width: 1240px;
  
    
  }
  
  
ul.nav-tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
.nav-item {
    margin: 0;
    font-size: 25px;
  }
  
.nav-item a {
    display: block;
    padding: 14px 100px;
    color: #000000; 
    text-decoration: none;
    text-align: center;
  }
.nav-item a:hover {
    background: #f3e1ae;
    color: #04534f; 
  }
.logo{
    size: 5px;
    border-radius: 300px;
    width: 100px;
    height: 100x;
    margin-top: -10px}

.main-heading {
    text-align: center;
    margin: 20px 0;
    color:  #e6e6e6;
    font-size: 50px;
    padding: -50px;
   
    
  }
 
  
  input[type="submit"] {
      background-color: #09b8be;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      height: 70px;
      margin-top: 10px;
      margin: 40px;
      padding: 20px;
      margin-left: 100px;
  }
  
  input[type="submit"]:hover {
      background-color: #01474d;
  }
  
  .icons{
    margin-left: 80px;
    width: 60px;
    height: 60px;
    justify-items: center;
    margin-top: -49px;
    margin-right: 250px;
    
   
}
  .form3{
    margin-left: 700px;
    place-items: center;
    margin-left: 80px;
    display: grid;
    animation: slideIn 1s ease-out forwards;

    
  }
  @keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  .form2{
    text-align: center;
    place-items: center;
    margin-top: -40px;
  }
  .form{
    text-align: center;
    place-items: center;
    border-radius: 30px;
    margin: 5px;
    transform: translateY(-5px);
    box-shadow: 0 10px 50px rgba(1, 128, 160, 0.15);
  }

  input[type="text"]:hover {
    background-color: #dfeff0;}
    .lowerpoint{
      background-color: rgba(2, 45, 51, 0.938);
      height: 250px;
      align-content: space-around;
      margin-top: 500px;
      margin-bottom: -85px;
      margin-left: -90px;
  
    }
    .icons{
      text-align: center;
      padding: 5px;
      margin: 5px auto;
      width: 50px;
      height: 200px;
      margin-left: 350px;
      margin-top: 90px;
      border-radius: 40px;
      background-color: #fffefe;
  
    }
    .location-info {
      padding: 10px;
      margin: 20px ;
      max-width: 800px;
      margin-bottom: -320px;
      margin-right: 1100px;
      margin-top: -20px;
      border-radius: 40px;
      margin-left: 70px;
      
    }
    
    .location-info p {
      font-size:15px;
      color: #fffafa; 
      font-family: 'Times New Roman', Times, serif;
      padding: 8%;
      margin-top: -60px;

    }
  
    
    .copyright {
      text-align: center;
      padding: 5px;
      margin: 5px auto;
      margin-left: 1000px;
      margin-top: -250px;
      border-radius: 40px;
  
     
    }
    
    .copyright p {
      font-size: 15px;
      font-family: 'Times New Roman', Times, serif;
      padding: 18%;
      color: #fffefe;
      margin-bottom: -500px;
      margin-top: 50px;
     
    }
    .lowerpoint{
      background-color: rgba(2, 45, 51, 0.938);
      height: 250px;
      align-content: space-around;
      margin-top: 40px;
      width: 1430px;
      margin-bottom: -85px;
    
    
  
    }
    .icons2{
      text-align: center;
      margin: 5px auto;
      width: 50px;
      height: 230px;
      margin-left: 350px;
      margin-top: 50px;
      border-radius: 40px;
      background-color: #fffefe;
  
    }
    .quicklinks{
      margin-left: 500px;
      margin-top:-250px;
      border-radius: 40px;
      color: white;
      
    }
   
    a, a:visited, a:hover, a:active {
      color: white; 
      font-size: 20px;
      text-decoration: none;
    }
    
  
 



    